<div class="container" *ngIf="isLoaded | async">
    <div class="justify-content-center">
        <mat-card class="mat-elevation-z4">
            <div>
                <mat-card-title class="text-center">Votre profil</mat-card-title>
                <mat-card-content fxLayout="column" class="d-flex flex-row justify-content-around">
                    <div>
                        <img *ngIf="user.photoURL == null" src="../../../assets/img/default-img.png" alt="">
                        <img *ngIf="user.photoURL != null" src="{{ user.photoURL }}" alt="">
                    </div>
                    <div class="d-flex flex-column">
                        <mat-form-field>
                            <mat-label>Nom</mat-label>
                            <input matInput disabled value="{{ user.displayName }}">
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput disabled value="{{ user.email }}">
                          </mat-form-field>
                    </div>
                </mat-card-content>
                <mat-card-actions class="d-flex justify-content-around">
                    <a mat-flat-button color="primary" class="connect" routerLink="/updateprofil">Modifier</a>
                    <a mat-flat-button color="primary" class="connect" (click)="deleteUserAndData()">Supprimer votre compte</a>
                </mat-card-actions>
            </div>
        </mat-card>
    </div>
</div>