@media screen and (min-width: 0px) and (max-width: 598px) {
  .footer-container {
    height: 100px;
    margin-top: 10px;
    width: 100%;
  }
  
  .footer-icon {
    height: 100%;
  }

  .material-icons {
    font-size: 20px;
  }
  
}

@media screen and (min-width: 599px) {
  
  .footer-container {
    height: 100px;
    margin-top: 50px;
    width: 100%;
  }
  
  .footer-icon {
    height: 100%;
  }

}