mat-card {
  min-width: 450px;
}
.container-fluid {
  margin-top: 100px;
}

.connect {
  text-decoration: none;
}

.mat-card-title {
  margin-bottom: 18px;
}

.mt-15 {
  margin-top: 15px;
}

.m-25 {
  margin: 25px 0;
}

.mt-55 {
  margin-top: 55px;
}

mat-card-actions {
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}