<form *ngIf="isLoaded | async" class="container-fluid">
    <div class="d-flex flex-row justify-content-around">
        <mat-card class="mat-elevation-z4">
            <div>
                <mat-card-title>Modifier votre compte</mat-card-title>
                    <mat-card-content fxLayout="column">
                        <div class="d-flex flex-column align-items-end">
                            <div><button mat-flat-button [disableRipple]="true" (click)="modifyAccount(1)">Modifier vos informations personnelles</button></div>
                            <div><button mat-flat-button [disableRipple]="true" (click)="modifyAccount(2)">Modifier votre adresse email</button></div>
                            <div><button mat-flat-button [disableRipple]="true" (click)="modifyAccount(3)">Modifier votre mot de passe</button></div>
                        </div>
                    </mat-card-content>
            </div>

            <div>
                <mat-divider></mat-divider>

                <mat-card-content fxLayout="column" *ngIf="information">
                    <mat-form-field class="mt-2">
                        <input matInput placeholder="Prénom" type="text" [formControl]="cfv.displayName.ac" [(ngModel)]="userUpdateRequest.displayName" name="displayName" (keyup.enter)="validateUserData()">
                        <mat-error class="mat-error" *ngIf="!cfv.displayName.ac.valid">
                            {{ cfv.displayName.ac.getError('msg') }}
                        </mat-error>
                    </mat-form-field>
                    <h6 class="mt-2">Photo de profil</h6>
                    <app-file-downloader [cfv]="cfv" (fileUrlEvent)="fileUrlEventhandler($event)"></app-file-downloader>
                </mat-card-content>

                <mat-card-content fxLayout="column" *ngIf="email">
                    <mat-form-field class="mt-2">
                        <input matInput placeholder="Nouveau email" type="email" [formControl]="cfv.newEmail.ac" [(ngModel)]="newEmail" name="newEmail" (keyup.enter)="validate()">
                        <mat-error class="mat-error" *ngIf="!cfv.newEmail.ac.valid">
                            {{ cfv.newEmail.ac.getError('msg') }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mt-2">
                        <input matInput placeholder="Confirmer l'email" type="email" [formControl]="cfv.confirmEmail.ac" [(ngModel)]="confirmEmail" name="confirmEmail" (keyup.enter)="validate(1)">
                        <mat-error class="mat-error" *ngIf="!cfv.confirmEmail.ac.valid">
                            {{ cfv.confirmEmail.ac.getError('msg') }}
                        </mat-error>
                    </mat-form-field>
                </mat-card-content>

                <mat-card-content fxLayout="column" *ngIf="password">
                    <mat-form-field class="mt-3">
                        <input matInput placeholder="Nouveau mot de passe" type="text" [formControl]="cfv.newPassword.ac" [(ngModel)]="newPassword" name="newPassword" (keyup.enter)="validate(2)">
                        <mat-error class="mat-error" *ngIf="!cfv.newPassword.ac.valid">
                            {{ cfv.newPassword.ac.getError('msg') }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mt-3">
                        <input matInput placeholder="Confirmer le mot de passe" type="text" [formControl]="cfv.confirmPassword.ac" [(ngModel)]="confirmPassword" name="confirmPassword" (keyup.enter)="validate(3)">
                        <mat-error class="mat-error" *ngIf="!cfv.confirmPassword.ac.valid">
                            {{ cfv.confirmPassword.ac.getError('msg') }}
                        </mat-error>
                    </mat-form-field>
                </mat-card-content>
                
                <mat-card-actions class="d-flex justify-content-end">
                    <button *ngIf="information" mat-flat-button color="primary" class="connect"  (click)="validate(1)">Modifer votre profil</button>
                    <button *ngIf="email" mat-flat-button color="primary" class="connect" (click)="validate(2)">Modifer votre adresse email</button>
                    <button *ngIf="password" mat-flat-button color="primary" class="connect" (click)="validate(3)">Modifer votre mot de passe</button>
                </mat-card-actions>
            </div>
        </mat-card>
    </div>
</form>