<mat-nav-list>

    <h2 matSubheader> Ma bibliothèque </h2>

    <a mat-list-item routerLink="/books" routerLinkActive="active">
        <mat-icon>book</mat-icon>Livres
    </a>
    
    <a mat-list-item routerLink="/mangas" routerLinkActive="active">
        <mat-icon>photo_album</mat-icon>Mangas
    </a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Divertissements</h2>

    <a mat-list-item routerLink="/magazines" routerLinkActive="active">
        <mat-icon>import_contacts</mat-icon>Magazines
    </a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Presses</h2>

    <a mat-list-item routerLink="/newspapers" routerLinkActive="active">
        <mat-icon>local_library</mat-icon>Journaux
    </a>

</mat-nav-list>