<app-header></app-header>

<!-- Anonymous user case -->
<router-outlet *ngIf="(isLoggedIn | async) === false">
</router-outlet>

<!-- Identified & logged user case -->
<mat-sidenav-container (resized)="onResized($event)" *ngIf="isLoggedIn | async">
    <mat-sidenav #sidenav class="mat-elevation-z4" mode="side" opened="true" *ngIf="isLoggedIn | async">
        <app-menu></app-menu>
    </mat-sidenav>
    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
