<form>
    <mat-card>
        <mat-card-title *ngIf="newEntity">Enregistrer un nouveau manga</mat-card-title>
        <mat-card-title *ngIf="!newEntity">Modifier le manga {{ mangaRequest.title }}</mat-card-title>
            <mat-card-content fxLayout="column">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <mat-form-field >
                            <input required matInput type="text" placeholder="Titre" id="title" name="title" [formControl]="cfv.title.ac" [(ngModel)]="mangaRequest.title">
                            <mat-error class="mat-error" *ngIf="!cfv.title.ac.valid">
                                {{ cfv.title.ac.getError('msg') }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 text-center">
                        <mat-form-field>
                            <input required matInput type="text" placeholder="Auteur" id="author" name="author" [formControl]="cfv.author.ac" [(ngModel)]="mangaRequest.author">
                            <mat-error class="mat-error" *ngIf="!cfv.author.ac.valid">
                                {{ cfv.author.ac.getError('msg') }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 text-center">
                        <mat-form-field>
                            <input required matInput type="text" placeholder="Genre" id="genre" name="genre" [formControl]="cfv.genre.ac" [(ngModel)]="mangaRequest.genre">
                            <mat-error class="mat-error" *ngIf="!cfv.genre.ac.valid">
                                {{ cfv.genre.ac.getError('msg') }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 text-center">
                        <mat-form-field>
                            <input required matInput type="text" placeholder="Numéro du tome" id="tome" name="tome" [formControl]="cfv.tome.ac" [(ngModel)]="mangaRequest.tome">
                            <mat-error class="mat-error" *ngIf="!cfv.tome.ac.valid">
                                {{ cfv.tome.ac.getError('msg') }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 text-center">
                        <mat-form-field>
                            <mat-label>Description (150 max)</mat-label>
                            <textarea required matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" id="description" name="description" [formControl]="cfv.description.ac" [(ngModel)]="mangaRequest.description" maxlength="160"></textarea>
                            <mat-error class="mat-error" *ngIf="!cfv.description.ac.valid">
                                {{ cfv.description.ac.getError('msg') }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <app-file-downloader class="text-center" [cfv]="cfv" (fileUrlEvent)="fileUrlEventhandler($event)"></app-file-downloader>
            </mat-card-content>
    </mat-card>
    <mat-dialog-actions>
        <a mat-flat-button color="primary" [ngClass]="isDisabled ? 'not-allowed' : 'allowed'" [disabled]="isDisabled" (click)="validate()">Enregistrer</a>
    </mat-dialog-actions>
</form>