@import "../../../global-variables.scss";

@media screen and (min-width: 0px) and (max-width: 598px) {
  
  .background-signin {
    background: url(../../../assets/img/signIn_background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 !important;
    padding: 0 !important;
  }

  .login-card {
    position: relative;
    right: 0;
    top: 250px;
    bottom: 0;

    & >   .mat-card {
      width: 100% !important;
      min-width: 100% !important;
      border-radius: 0px !important;
      padding: 52px;

      & > .signin-content {
        margin-top: 0 !important;

        .connect {
          text-decoration: none;
        }

        .forgot-email a:hover{
          color: orange;
        }
      }
    }
  }

}

@media screen and (min-width: 599px) {

  .background-signin {
    background: url(../../../assets/img/signIn_background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 !important;
    padding: 0 !important;
  }

  .login-card {
    position: relative;
    right: 0;
    top: 250px;
    bottom: 0;

    & >   .mat-card {
      width: 100% !important;
      min-width: 100% !important;
      border-radius: 0px !important;
      padding: 52px;

      & > .signin-content {
        margin-top: 0 !important;

        .connect {
          text-decoration: none;
        }

        .forgot-email a:hover{
          color: orange;
        }
      }
    }
  }

}